#profile {
  height:300px;
  width: 300px;
}

.logo {
    height:34px;
}

.logoButton {
  background-color:#ebeefa;
  border-color:#ebeefa;
}

#aboutMeContainer{
  padding-top: 7rem;
  padding-bottom: 7rem;
}
