.backgroundimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
}


body {
  color: white;
}

.display-2, h2 {
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
}

#aboutme {
  box-shadow: 2px 2px 4px #000000;
}
