#jumboDiv {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height:95vh;
  color: white;
  margin-top: 50px;
  margin-bottom: 0;
}

.greeting, .subgreeting {
  text-shadow: 1px 1px 2px #000000;
}

.subgreeting {
  font-size: 2em;
}

#aboutMeDiv {
  background-color:#ebeefa;
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#workDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
